<!doctype html>
<html>
<head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/angular/angular-csp.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!-- build:js scripts/popup.js -->
    <!--<script src="scripts/popup.js"></script>-->
    <!-- endbuild -->
</head>
<body data-ng-app="flickrSearchApp">
<div class="container" data-ng-controller="displayCtrl as display">
    &NonBreakingSpace;
    <div>
        <div class="input-group">
            <input type="text" class="form-control" data-ng-model="display.searchTerm" placeholder="search flickr from here...">
            <span class="input-group-addon" data-ng-click="display.search()"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
    <div class="loading" data-ng-if="display.loading.images"><img src="images/ajax-loader.gif">Loading...</div>

    <div data-ng-show="display.images && !display.image">
        <img
                data-ng-repeat="photo in display.images"
                class="flickr small"
                data-ng-click="display.setOverlay($index)"
                data-ng-src="{{'http://farm' + photo.farm +'.staticflickr.com/' + photo.server+
                '/' + photo.id +
                '_' + photo.secret +
                '_s.jpg'}}" />
    </div>
    <div data-ng-show="display.image" class="overlay"><span class="pull-right" data-ng-click="display.setOverlay()">&times;</span>
        <img data-ng-src="{{'http://farm' + display.images[display.image].farm +'.staticflickr.com/' + display.images[display.image].server+
                '/' + display.images[display.image].id +
                '_' + display.images[display.image].secret +
                '_n.jpg'}}">
        <p>{{image.title}}</p>
    </div>

    <div class="paginationContainer">
        <ul class="pagination">
            <li data-ng-repeat="(k,v) in display.pages" data-ng-class="{active: display.page==v}"><a data-ng-click="display.setPage(v)">{{v}}</a></li>
        </ul>
    </div>
</div>
<!-- CHROME EXTENSION POPUP -->


<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/services/flickr.js"></script>
<script src="scripts/controllers/display.js"></script>
</body>
</html>
